#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  place-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.hello-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: #fff;
}

.question-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

@media only screen and (max-width : 500px){
  .question-card{
    transform: rotate(90deg);
  }
}